@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


:root{
    --font-global: "Sora", sans-serif;
}


body{
    background-color: #FAFAF9;
    display: grid;
    margin: 0;
    min-height: 100dvh;
    place-items: center;

}

main{
    padding: 16px;
}

h1#mainStar{
    background-color: #F5C044;
    width: 3.5vh; 
    padding: 8px;
    border-radius: 100%;   
}


div.grid > h2{
    font-family: var(--font-global);
}

div.grid  > p{
    font-family: var(--font-global);
    line-height: 30px;
}

div.grid  > ul{
    padding: 0px;
    font-family: var(--font-global);
    font-size: 13px;
}

div.grid  > ul > li{
    list-style: none;
    list-style-type: none;
    margin-top: 13px;
    font-size: 13px

}
div.grid{
    width: 600px;
    display: inline-block;

}


div.review{
    width: 600px;
    display: inline-block;
}

 .listImage {
            width: 17px;
            height: 17px;
            margin-right: 10px;
        }

article#google{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.089);
    border-radius: 15px ;
    width: 300px;
    padding: 10px 20px 10px;
    margin-bottom: 20px;
    margin-left: 30vh;
    margin-bottom: 30px;
    
}

article#google > img{
    width: 20%;
    
}


article#meta{
    background-color: #FFFFFF;
    border-radius: 15px ;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.089);
    width: 300px;
    height: 200;
    padding: 10px 20px 10px;
}

article#meta > img{
    width: 20%;
}

aside{
    background-color: #F5C044;
}




@media(max-width:1235px){
    div#container{
     display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
    
    }

}

@media(max-width:644px){
    div.grid{
        width: auto;
    
    }
    
    
    div.review{
        width: auto;
        
        
        
    }

article#google{
    width: 300px;
    padding: 10px 20px 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    
}}